body{
    font-family: 'Pangolin', cursive;
    box-sizing: border-box;
    background-color: #263238;
    color: #ffea00;
}

h1 {
    position: relative;
    text-align: center;
}

.marcador {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.you{
    position: relative;
    width: 268px;
    
    text-align: center;
    background-color: #ffea00;
    
}

.vs{
    position: relative;
    display: flex;
    color: #ffea00;;
    font-size: 40px;
    align-items: center;

}

.elegi {
    position: absolute;
    margin: 10px 0;
    display: flex;
}

.cpu{
    position: relative;
    width: 268px;
   
    text-align: center;
    background-color: #ffea00;
   
}

.main{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;    
}

 .main p{
    color: #263238;
} 
